site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
hardware/Bender.lock
hardware/Bender.local
hardware/work
hardware/hyperram*.slm
hardware/*.riscv
hardware/fpga/alsaqr/tcl/generated
hardware/fpga/alsaqr/tcl/ips/*/ip
hardware/fpga/alsaqr/*.gen
hardware/fpga/alsaqr/*.cache
hardware/fpga/alsaqr/*.hw
hardware/fpga/alsaqr/*.runs
hardware/fpga/alsaqr/*.xpr
hardware/fpga/alsaqr/tcl/ips/*/*.cache
hardware/fpga/alsaqr/tcl/ips/*/*.gen
hardware/fpga/alsaqr/tcl/ips/*/*.hw
hardware/fpga/alsaqr/tcl/ips/*/*.ip_user_files
hardware/fpga/alsaqr/tcl/ips/*/*.runs
hardware/fpga/alsaqr/tcl/ips/*/*.srcs
hardware/fpga/alsaqr/tcl/ips/*/*.xpr
hardware/fpga/vivado_*.str
hardware/fpga/.tmpCRC
hardware/fpga/*.cache
hardware/fpga/*.gen
hardware/fpga/*.hw
hardware/fpga/*.ip_user_files
hardware/fpga/*.runs
hardware/fpga/*.srcs
hardware/fpga/*.xpr
hardware/.bender
hardware/compile.tcl
build/
*.vcd
*.log
*.out
*.jou
*.o
uart
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
software/*/hyperram*.slm
software/*/*.riscv
software/*/*.dump
